* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

img {
    width: 150px;
    height: auto;
    position: absolute;
    left: 70%;
    top: 13%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    text-align: left;
}

.container {
    width: 50%;
    background-color: #fff;
    line-height: 70px;
    margin: 150px auto;
    padding: 30px 100px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#wordInput {
    width: 60%;
    height: 40px;
    border: 1px solid gray;
    padding: 10px;
    margin-right: 2%;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
}

#reverseBtn {
    width: 20%;
    height: 40px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

#wordOutput {
    font-weight: bold;
}